# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRegquests/

.idea/
!/.idea/.gitignore
/.idea/modules.xml
/.idea/vcs.xml
/FrontEndCourse.iml