.item__rating{
    display: flex;
}

.rating__stars{
    display: inline-block;
    position: relative;
}

.stars__empty{
    display: flex;
    gap: 3px;
}

.stars__full{
    display: flex;
    gap: 3px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    top: 0;
    left: 0;
}

.stars__empty i, .stars__full i{
    color: #FFD43BFF;
    font-size: 16px;
    flex-shrink: 0;
}

.item__badges{
    opacity: 0;
    visibility: hidden;
    display: flex;
    position: absolute;
    flex-direction: column;
    margin: 10px 10px;
    top: 0;
    right: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.item__badges .badge--like, .item__badges .badge--hidden, .item__badges .badge--compare{
    background-color: #B1A4A482;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: 1px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s ease;
}

.badge:hover{
    background-color: #7E747482;
}

.item__badges i{
    font-size: 20px;
}

.badge .icon{
    display: none;
}

.badge .icon--default{
    display: inline;
}

.badge:hover .icon--default{
    display: none;
}

.badge:hover .icon--hover{
    display:inline;
}

.badge.badge--active .icon--default{
    display: none;
}

.badge.badge--active .icon--active{
    display: inline;
}

.badge.badge--active:hover .icon--active{
    display: none;
}

.badge.badge--active:hover .icon--hover{
    display: none;
}

.badge.badge--active:hover .icon--active-hover{
    display: inline;
}

.header__cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}

.cart__icon{
    line-height: 1;
    vertical-align: middle;
}

.item__button i{
    font-size: 18px;
}